<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.midnight.musicblink">
    <uses-sdk android:minSdkVersion="7"/>
    <application android:name=".application.Application" android:icon="@drawable/icon" android:label="@string/app_name">

        <activity
                android:name=".activity.ConfigureListActivity">

        </activity>

        <service
                android:name=".service.WidgetService"
                android:permission="android.permission.BIND_REMOTEVIEWS">
        </service>


        <receiver
                android:name=".provider.WidgetProvider">
            <intent-filter>
                <action
                        android:name="android.appwidget.action.APPWIDGET_UPDATE"
                        />
            </intent-filter>
            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/widget_metadata">
            </meta-data>
        </receiver>

    </application>
</manifest>
